/* Định dạng chung */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  padding-top: 150px;
}

h3 {
  color: #555;
  margin-bottom: 10px;
  margin-top: 20px;
}
h2 {
  justify-content: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
}

p {
  margin: 5px 0;
  line-height: 1.6;
}

/* Thông tin khách hàng và đơn hàng */
.container h3 {
  font-size: 1.2em;
  color: #4a4a4a;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.container p strong {
  color: #333;
}

/* Bảng danh sách sản phẩm */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f8f8f8;
  color: #555;
  font-weight: bold;
}

table tr:hover {
  background-color: #f1f1f1;
}

table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

/* Chỉnh sửa cho giá trị tiền */
.price,
.total-price {
  color: #e85d04;
  font-weight: bold;
}

/* Định dạng cho phần thông tin tổng cộng */
.container .total {
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

/* Liên kết chi tiết sản phẩm */
a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}
.btn-back {
  margin-bottom: 40px;
  background-color: #4caf50;

  font-size: 20px;
}
.btn-back:hover {
  background-color: #45a049;
}
