body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
  font-size: 1.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  color: #333;
}

td {
  color: #555;
}

a {
  color: #007bff;
  text-decoration: none;
}

.orders a:hover {
  color: #0056b3;
  text-decoration: underline;
}
